mixin navbar(username)
    nav
        a(href="myAboutMe") About Me 
        a(href="myContacts") Contacts 
        a(href="myWidgets") Widgets
        a(href="contactMe") Contact Me
        a(href="contactLog") Contact Log
        a(href="login")= username